[Unit]
Description=Check for BaseCamp site updates every five minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=basecampcrew-pull-deploy.service

[Install]
WantedBy=timers.target
